@font-face {
  font-family: 'Austyns Sakkyra';
  src: url('./assets/AustynsSakkyra.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
}
